header {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: var(--bg-buttons);
  display: flex;
  align-items: center;
  padding: 0px 2% 0px 0%;
  justify-content: space-between;
}

header .logo a {
  text-decoration: none;
  color: var(--text-white);
  font-size: 20px;
  font-weight: 600;
}



header .right .dropdown {
  position: relative;
  display: inline-block;
}

header .right .dropdown-toggle {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 500;
  color: var(--text-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.123);
  padding: 5px 10px;
  justify-content: space-between;
  border-radius: 5px;
  column-gap: 5px;
}

header .right .dropdown-toggle img{
  width: 35px;
}

header .right .arrow i {
  font-size: 25px;
  color: var(--text-white);
}

header .right .arrow {
  transition: transform 0.3s ease;
}

header .right .arrow.open {
  transform: rotate(180deg);
}

header .right .dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0px;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s linear;
  background-color: var(--bg-white);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

header .right .dropdown-menu.open {
  max-height: 200px;

}

header .right .dropdown-item {
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px;
  border-radius: 3px;
  transition: 0.5s ease;
}

header .right .dropdown-item:hover {
  background-color: var(--bg-light);
}