.home-section {
  position: relative;
  height: 100vh;
  top: 0;
  left: 270px;
  width: calc(100% - 270px);
  transition: all .5s ease;
  z-index: 2;
}

.sidebar.open ~ .home-section {
  left: 80px;
  width: calc(100% - 80px);
}

.home-section p{
  padding: 20px;
}